
div{background-color:  rgb(220, 147, 220);
}

p
{
    background-color: rgb(135, 160, 51);
}

a
{
    background-color: rgb(117, 203, 246);
}
span{
    background-color: rgb(225, 135, 135);
}
