*{
    margin: 0;
    padding: 0;
}
div{
    margin-top: 23px;
    border: 2px solid black;
    overflow:scroll;
    width: 25vw;
    height: 30vh;
    /* white-space: nowrap; */

    /* white-space:nowrap; */
    text-overflow:ellipsis;
    /* overflow-y: scroll; */
    /* overflow-x: scroll; */
    overflow: hidden auto;  /* overflow: X AXIS  Y AXIS*/
}